.blog {
  background-color: $cristal;
  padding-bottom: 9.5em;
  padding-top: 7.5em;
  text-align: center;

  &.alt {
    background: $concrete;
    padding-bottom: 0;

    .title-section {
      font-family: $font-regular;
      font-size: 3.2em;
      text-align: center;
    }

    .link-btn {
      margin: 1em 0 3em;
    }
  }

  @include small {
    padding-bottom: 4.5em;
    padding-top: 2.6em;
  }

  .title-section {
    font-size: 4.8em;
    padding: 0 10px;
    text-align: left;

    @include medium {
      padding: 0 6px;
    }

    @include small {
      font-size: 3.75em;
    }
  }

  .blog-news {
    display: flex;
    flex-wrap: wrap;
    margin: 2em -16px;

    @include large {
      margin: 2em -6px;
    }

    @include medium {
      margin: 2em 0;
    }

    @include small {
      margin: 10px 6px;
    }
  }

  .news-item {
    background-color: $white;
    flex: 1 1 320px;
    margin: 24px 26px;
    max-width: calc(33.333% - 52px);
    min-width: 0;

    @include large {
      margin: 24px 16px;
      max-width: none;
    }

    @include medium {
      flex: 1 1 238px;
      margin: 8px 6px;
    }

    @include small {
      flex: 1 1 212px;
      margin: 0 6px 12px;
    }

    @include extra-small {
      flex: 1 1 225px;
      margin: 0 0 20px;
    }

    @include on-event {
      background-color: $nile;
      color: $white;

      .news-title {
        color: $white;
      }

      .news-excerpt {
        color: $white;
      }

      .news-link {
        color: $white;

        @include on-event {
          color: $aqua;
        }
      }
    }

    .news-image {
      padding-top: 70%;
      width: 100%;
    }

    .news-info {
      font-family: 'Open Sans', sans-serif;
      font-size: 2em;
      padding: 1.2em 1.2em 1em;
      text-align: center;
      width: 100%;
    }

    .news-title {
      color: $stone;
      font-size: 1em;
      font-weight: bold;
      line-height: 1.4em;
      margin: 0 0 0.8em;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include small {
        margin-bottom: 0.6em;
      }

      @include on-event {
        color: $aqua;
      }
    }

    .news-excerpt {
      color: $stone;
      font-size: 0.7em;
      line-height: 1.2em;
      margin-bottom: 1.8em;
      max-height: 6.1em;
      overflow: hidden;
      text-align: left;

      @include small {
        font-size: 0.75em;
        line-height: 1.5em;
        margin-bottom: 1.1em;
      }
    }

    .news-date {
      font-size: 0.55em;
      margin-bottom: 0.9em;
      text-align: left;

      @include small {
        font-size: 0.7em;
      }
    }

    .news-link {
      color: $black;
      font-family: $font-regular;
      font-size: 0.6em;
      font-weight: bold;
      text-transform: uppercase;

      @include small {
        font-size: 0.75em;
      }
    }
  }

  .blog-more {
    cursor: pointer;
  }
}

.news {
  background: $concrete;
}

.main, .article {
  .blog-news {
    .news-item:nth-child(2) {
      @include extra-small {
        display: none;
      }
    }

    .news-item:nth-child(3) {
      @include large {
        display: none;
      }
    }
  }
}
