.contact {
  background-color: $nile;

  @include small {
    padding: 24px 10px;
  }

  .title-strong {
    line-height: 1em;
    margin: 0 10px;

    @include medium {
      margin: 0 6px;
    }

    @include small {
      text-align: center;
    }
  }

  .contact-wrapper {
    margin: 70px auto 16px;
    max-width: 650px;

    @include medium {
      max-width: none;
    }

    @include small {
      margin: 10px auto 0;
    }
  }

  .contact-form {
    margin: 28px 0 42px;

    @include small {
      margin: 30px 0;
    }
  }

  .contact-field {
    float: left;
    font-family: 'Open-Sans', sans-serif;
    margin-bottom: 5px;
    padding: 10px;

    @include medium {
      padding: 10px 6px;
    }

    @include small {
      padding: 5px 6px;
    }

    &.large-field {
      width: 100%;
    }

    &.medium-field {
      width: 50%;

      @include small {
        width: 100%;
      }
    }
  }

  .contact-label {
    color: $white;
    font-family: $font-title;
    font-size: 1.8em;
    text-transform: uppercase;

    @include small {
      font-size: 2.25em;
    }
  }

  .contact-input {
    background-color: $nile;
    border-bottom: solid 2px $aqua;
    color: $white;
    font-size: 1.4em;
    line-height: 1.8em;
    margin: 14px 0 1px;

    @include on-event {
      border-bottom: solid 3px $aqua;
      margin: 14px 0 0;
    }

    @include small {
      font-size: 1.8em;
      line-height: 1.4em;
      margin: 5px 0 1px;

      @include on-event {
        margin: 5px 0 0;
      }
    }

    &:invalid {
      border-bottom: solid 2px $red;
      box-shadow: none;

      @include on-event {
        border-bottom: solid 3px $red;
        margin: 14px 0 0;
      }
    }
  }

  .contact-textarea {
    color: $text-dark;
    font-size: 1.4em;
    margin-bottom: 12px;
    max-height: 200px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    padding: 0.8em 1em;

    @include small {
      font-size: 1.75em;
      margin-top: 20px;
      min-height: 130px;
      padding: 1em;
    }

    &::placeholder {
      color: $text-dark;
    }
  }

  .contact-submit {
    background-color: $aqua;
    color: $text-dark;
    font-family: $font-regular;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2.923em;
    margin: 0 auto;
    text-transform: uppercase;
    width: 140px;

    @include small {
      font-size: 1.75em;
      line-height: 38px;
    }

    @include on-event {
      background-color: $white;
      cursor: pointer;
    }
  }
}
