.footer {
  background-color: $aqua;
  color: $text-dark;
  padding: 22px 5px;
  text-align: center;

  @include small {
    padding: 10px 30px;
  }

  .footer-copyright {
    font-family: $font-regular;
    font-size: 1.4em;
    letter-spacing: 2px;
    line-height: 1em;
    margin: 0.428em;
    text-transform: uppercase;

    @include medium {
      font-size: 1.5em;
      line-height: 1.2em;
      margin: 0.466em;
    }
  }
}
