.header {
  border-top: solid 10px $aqua;
  position: fixed;
  width: 100%;
  z-index: 9999;

  @include medium {
    background: $nile;
    border: none;
  }

  .header-logo {
    margin: 20px auto 0 23px;

    @include medium {
      height: 40px;
      margin: 12px auto 12px 10px;
    }
  }

  .header-nav {
    float: right;
    margin: 35px 52px 0 0;
    max-width: 720px;
    width: 70%;
  }

  .header-link {
    color: $text-clear;
    font-family: $font-title;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;

    @include on-event {
      color: $aqua;
    }

    &.alt {
      background-color: $aqua;
      color: $nile;
      line-height: 2.4em;
      width: 140px;

      @include on-event {
        background: $white;
      }
    }
  }
}
