.portfolio {
  padding-top: 50px;
  text-align: center;

  @include small {
    padding-top: 65px;
  }

  &.alt {
    padding-bottom: 8em;
    padding-top: 3em;

    @include small {
      padding-bottom: 3em;
      padding-top: 2em;
    }
  }

  .title-section {
    float: left;
    padding: 0 10px;
    text-align: left;
    width: 50%;

    @include medium {
      padding: 0 6px;
    }
  }

  .portfolio-categories {
    color: $text-dark;
    float: left;
    font-family: Stratum-Light;
    font-size: 2.4em;
    padding: 0 10px;
    text-align: left;
    width: 50%;
  }

  .categories-more {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 0 0;
    opacity: 0.8;

    @include on-event {
      opacity: 1;
    }
  }

  .categories-options {
    margin: 0.6em 0 1.8em;
  }

  .categories-item {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    opacity: 0.8;

    @include on-event {
      opacity: 1;
    }

    &.active {
      font-weight: bold;
      opacity: 1;
    }
  }

  .portfolio-book {
    display: inline-block;
    width: 100%;
  }

  .portfolio-big, .portfolio-medium, .portfolio-small {
    float: left;
    margin: 10px;
    position: relative;

    @include medium {
      margin: 6px;
    }

    @include on-event {
      .portfolio-shadow {
        cursor: pointer;
        visibility: visible;
      }

      .portfolio-info {
        margin-left: 0;
      }
    }
  }

  .portfolio-big {
    padding-bottom: calc(50% - 20px);
    width: calc(50% - 20px);

    @include medium {
      padding-bottom: calc(50% - 12px);
      width: calc(50% - 12px);
    }

    @include small {
      padding-bottom: calc(100% - 12px);
      width: calc(100% - 12px);
    }
  }

  .portfolio-medium {
    padding-bottom: calc(25% - 20px);
    width: calc(50% - 20px);

    @include medium {
      padding-bottom: calc(25% - 12px);
      width: calc(50% - 12px);
    }

    @include small {
      padding-bottom: calc(50% - 12px);
      width: calc(100% - 12px);
    }
  }

  .portfolio-small {
    padding-bottom: calc(25% - 20px);
    width: calc(25% - 20px);

    @include medium {
      padding-bottom: calc(25% - 12px);
      width: calc(25% - 12px);
    }

    @include small {
      padding-bottom: calc(50% - 12px);
      width: calc(50% - 12px);
    }
  }

  @for $i from 1 through 16 {
    .portfolio-#{$i} {
      background: url('../../images/portfolio/portfolio#{$i}.jpg') center/cover no-repeat;
    }
  }

  .portfolio-shadow {
    background: $polarized;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 0;
    visibility: hidden;
    width: 100%;

    @include large {
      padding: 15px;
    }

    @include medium {
      padding: 10px;
    }
  }

  .portfolio-text {
    border-left: solid 2px $white;
    color: $white;
    display: inline-block;
    overflow: hidden;
    padding-left: 14px;

    @include medium {
      padding-left: 8px;
    }
  }

  .portfolio-info {
    margin-left: -150%;
    transition: margin 0.5s ease;
  }

  .portfolio-proyect {
    font-family: Stratum-Light;
    font-size: 2.8em;
    line-height: 1em;
    margin: 0 0 0.2em;
    text-transform: uppercase;
  }

  .portfolio-tag {
    font-family: Stratum-Light;
    font-size: 1.8em;
    line-height: 1em;
    margin: 0 0 0.2em;
  }

  .portfolio-more {
    margin: 32px 0 10px;

    @include small {
      margin: 6px 0 35px;
    }
  }
}
