.post-head {
  background-color: $nile;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .post-shadow {
    background: linear-gradient(180deg, rgba(26,64,82,0.9) 0%, rgba(26,64,82,0.5) 100%);
    display: inline-block;
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
  }

  .post-title {
    color: $white;
    font-family: $font-title;
    font-size: 6em;
    margin: 4.333em 0 2.833em;
    text-align: center;
    text-transform: uppercase;

    @include small {
      font-size: 4em;
      margin: 3.8em 0 2em;
    }
  }
}

.post-body {
  display: block;
  margin: auto;
  max-width: 1366px;
  padding: 8em 14em 7em;

  @include large {
    padding: 8em 10em 7em;
  }

  @include medium {
    padding: 6em 6em 5em;
  }

  @include small {
    padding: 5em 4em 4em;
  }

  @include extra-small {
    padding: 4em 2em 3em;
  }

  $margin: 10px;

  .post-date {
    color: $stone;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    margin: 0;
    margin-left: $margin;
  }

  .post-content {
    color: $tuna;
    text-align: center;

    p {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.8em;
      justify-content: space-between;
      text-align: left;

      @include small {
        display: block;
      }

      img {
        display: inline-block;
        flex: 0 1 calc(50% - 10px);
        height: auto;
        margin: auto 0px;
        width: calc(50% - 20px);

        @include small {
          margin: $margin 0;
          width: 100%;
        }
      }
    }

    p, img, video {
      margin: $margin/2 $margin $margin*2.5;
    }

    img, video, iframe {
      display: inline-block;
    }

    span[class^='embed'] {
      margin-top: $margin*2.5;
    }
  }
}
