@font-face {
  font-family: Stratum-Light;
  src: url(../../fonts/StratumNo1-Light.ttf);
}

@font-face {
  font-family: Stratum-Medium;
  src: url(../../fonts/StratumNo1-Medium.ttf);
}

@font-face {
  font-family: Stratum-Bold;
  src: url(../../fonts/StratumNo1-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Light;
  src: url(../../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}