.we-are {
  background: url('../../images/background-weare.jpg') center/cover no-repeat;
  padding-bottom: 7em;
  padding-top: 8.5em;
  text-align: center;

  .we-paragraph {
    color: $text-dark;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0 0 3.6em;
    max-width: 36em;
  }

  .we-icon {
    display: inline-block;
  }

  .we-hashtag {
    color: $text-dark;
    display: inline-block;
    font-family: $font-regular;
    font-size: 5em;
    margin: 0.5rem 0 0;
  }
}
