$aqua:         #33FFFF;
$black:        #000000;
$concrete:     #F2F2F2;
$nile:         #1A4052;
$red:          #C0392B;
$smoke:        #D8D8D8;
$stone:        #757779;
$tuna:         #3A3A3C;
$white:        #FFFFFF;

$cristal:      rgba(51,255,255,0.15);
$polarized:    rgba(26,64,82,0.6);
$shadow:       rgba(0,0,0,0.5);

$text-clear:   $white;
$text-dark:    $nile;
$title:        $aqua;
