$font-regular: 'Stratum-Medium';
$font-section: 'Stratum-Light';
$font-title: 'Stratum-Bold';

// Extra small screen / phone
$screen-xs: 480px;

// Small screen / tablet
$screen-sm: 600px;

// Medium screen / desktop
$screen-md: 768px;

// Large screen / wide desktop
$screen-lg: 992px;

// Extra large screen / wider desktop
$screen-xl: 1200px;
