.alert {
  border: none;
  border-radius: unset;
  box-shadow: 10px 15px 30px $polarized;
  display: none;
  font-family: $font-title;
  font-size: 1.8em;
  left: 50%;
  margin: 0;
  max-width: 50vw;
  padding: 1em 1.5em;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;

  &.error {
    background-color: $red;
    color: $white;
  }

  &.success {
    background-color: $aqua;
    color: $text-dark;
  }

  @include small {
    max-width: 70vw;
    width: 100%;
  }

  @include extra-small {
    max-width: 91vw;
    width: 100%;
  }
}
