.title-section {
  color: $text-dark;
  font-family: $font-section;
  font-size: 4em;
  text-transform: uppercase;
}

.title-strong {
  color: $title;
  font-family: $font-title;
  font-size: 3.2em;
  text-transform: uppercase;
}
