.title-section {
  color: $text-dark;
  font-family: $font-section;
  font-size: 4em;
  text-transform: uppercase;

  @include small {
    font-size: 3.75em;
  }
}

.title-strong {
  color: $title;
  font-family: $font-title;
  font-size: 3.2em;
  text-transform: uppercase;
}

.title-jumbo {
  color: $white;
  font-family: $font-title;
  font-size: 6em;
  line-height: 1.15em;
  max-width: 12.5em;
  text-transform: uppercase;

  @include small {
    font-size: 4em;
  }

  &.alt {
    color: $aqua;
  }
}
