.alt-contact {
  background-color: $nile;
  text-align: center;

  .contact-wrapper {
    display: inline-block;
    margin-top: 2.3em;
    width: 60%;

    @include medium {
      width: 100%;
    }

    @include small {
      width: 100%;
    }

    .title {
      color: $aqua;
      font-family: $font-title;
      font-size: 3.2em;
      line-height: 1.8em;
      text-align: left;
      text-transform: uppercase;

      @include small {
        font-size: 2.4em;
        margin-bottom: 1.5em;
        text-align: center;
      }
    }

    .form-wrapper {
      font-family: $font-regular;
      margin: 3.5em auto;
      text-align: left;

      @include small {
        margin-bottom: 3.5em;
      }

      .input-label {
      	color: $white;
      	font-size: 1.8em;
      }

      .form-control {
        border: none;
      	color: $white;
      	background-color: $nile;
      	border-bottom: 2px solid $aqua;
      	font-family: $font-regular;
      	font-size: 1.5em;

      	&:focus {
      	  border: none;
      	  border-bottom: 5px solid $aqua;
          box-shadow: inset 0 1px 1px $nile, 0 0 8px $nile;
      	}

      	&:invalid {
      	  border: none;
      	  border-bottom: 5px solid red;
          box-shadow: inset 0 1px 1px $nile, 0 0 8px $nile;
      	}
      }      
      .message-input {
        @include placeholder {
          color: $stone;
          text-transform: uppercase;
        }
        background-color: $white;
        border: none;
        color: $nile; 
        font-family: $font-regular;
        font-size: 1.5em;
        resize: none; 
        width: 100%;
      }
    }

    

    .contact-send {
      margin-bottom: 2.5em;
    }

    .logo-section {
      clear: both;
      text-align: center;
      margin-bottom: 1.5em;
      width: 100%;

      .contact-logo-wrapper {
        display: inline-block;
        width: 6em;
      }
    }

    .medium {

      @include medium {
        width: 50%;        
      }

      @include small {
        width: 100%;
      }      
    }

    .margin {
      margin-bottom: 1.5em;    
    }
  }
}

