.alt-contact {
  background-color: $nile;
  text-align: center;

  .contact-wrapper {
    display: inline-block;
    margin-top: 2.3em;
    width: 50%;

    .title {
      color: $aqua;
      font-family: $font-title;
      font-size: 3.2em;
      line-height: 1.8em;
      text-align: left;
      text-transform: uppercase;
    }

    .form-wrapper {
      text-align: left;
      font-family: $font-regular;

      .input-label {
      	color: $white;
      	font-size: 1.8em;
      }

      .form-control {
        border: none;
      	color: $white;
      	background-color: $nile;
      	border-bottom: 2px solid $aqua;
      	font-family: $font-regular;
      	font-size: 1.5em;

      	&:focus {
      	  border: none;
      	  border-bottom: 5px solid $aqua;
          box-shadow: inset 0 1px 1px $nile, 0 0 8px $nile;
      	}

      	&:invalid {
      	  border: none;
      	  border-bottom: 5px solid red;
          box-shadow: inset 0 1px 1px $nile, 0 0 8px $nile;
      	}
      }      
    }

    .message-input {
      @include placeholder {
        color: $stone;
        text-transform: uppercase;
      }
      background-color: $white;
      border: none;
      color: $nile; 
      font-family: $font-regular;
      font-size: 1.5em;
      float: left;
      margin-bottom: 1.5em;
      resize: none; 
      width: 100%;
    }

    .logo-section {
      clear: both;
      text-align: center;
      width: 100%;

      .contact-logo-wrapper {
        display: inline-block;
        width: 5em;
      }
    }
  }
}

