.contact {
  background-color: $nile;
  text-align: center;

  .form-wrapper {
    display: inline-block;
    margin-top: 1.3em;
    width: 50%;

    .title {
      color: $aqua;
      font-family: $font-title;
      font-size: 3.2em;
      line-height: 1.8em;
      text-align: left;
      text-transform: uppercase;
    }

    .input-wrapper {
      background-color: $nile;
      font-family: $font-regular !important; 
      font-size: 1.5em;
      text-align: left;
      width: 100%;

      .input {
      	@include placeholder {
      	  color: $white;
      	  text-transform: uppercase;
      	  margin-bottom: 1em;
      	}
      	background-color: $nile;
      	border: none;
      	border-bottom: 2px solid $aqua;
      	color: $white;
      	font-family: $font-regular;
      	margin-bottom: 1.5em;
        width: 100%;

        &:focus {
          background-color: $nile;
          border-bottom: 5px solid $aqua;
        }
      }

      .divided-input {
      	display: inline-block;
      	width: 48%;
      	float: left;

      	&:invalid {
      	  border: none;
      	  border-bottom: 4px solid red;
      	}
      }

      .message-input {
      	@include placeholder {
      	  color: $smoke;
      	  text-transform: uppercase;
      	}
      	background-color: $white;
      	border: none;
      	border-radius: .5em;
      	color: $nile; 
      	font-family: $font-regular;
      	float: left;
      	margin-bottom: 1.5em;
      	resize: none;
      	width: 100%;
      }
    }
  }

  .right {
  	float: right !important;
  }

  .label {
  	color: $white;
  	display: block;
  	font-family: $font-regular;
  	font-size: 1em;
  	float: left;
  	transition: margin-bottom 2s;

  	&:hover {
  	  margin-bottom: 1em;
  	}
  }
}