.hero {
  background: $nile;
  position: relative;

  .hero-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 63vw;
    width: 100%;

    @include small {
      max-height: 100vh;

      &.slide-1 {
        background-position: 75% center;
      }

      &.slide-4 {
        background-position: 80% center;
      }
    }

    @for $i from 1 through 4 {
      &.slide-#{$i} {
        background-image: url('../../images/hero/hero-slide-#{$i}.jpg');

        @include medium {
          background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%), url('../../images/hero/hero-slide-#{$i}.jpg');
        }
      }
    }
  }

  .hero-text {
    border-left: solid 2px $white;
    bottom: 70px;
    color: $white;
    left: 5%;
    max-width: 515px;
    padding-left: 25px;
    overflow: hidden;
    position: absolute;
    transition: height 1s ease;
    width: 100%;
    z-index: 500;

    @include small {
      left: 6%;
      padding-left: 15px;
      width: 88%;
    }
  }

  .hero-copy {
    left: -105%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 1s ease;
    width: 100%;

    &.active {
      left: 25px;
      transition-delay: 0.5s;

      @include small {
        left: 15px;
      }
    }
  }

  .hero-title {
    font-family: $font-title;
    font-size: 8em;
    line-height: 0.95em;
    margin: 0;

    @include small {
      font-size: 4em;
    }
  }

  .hero-paragraph {
    font-family: $font-regular;
    font-size: 2.4em;
    line-height: 1.1em;
    margin: 0.6em 0 0.4em;
    max-width: 17em;
  }

  .hero-link {
    color: $white;
    font-family: $font-title;
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 1.4em;
    margin: 0;
    text-transform: uppercase;
  }
}
