.services {
  position: relative;
  text-align: center;

  .services-contact {
    display: inline-block;
    position: absolute;
    right: 109px;
    top: -1.25em;

    @include extra-large {
      right: 75px;
    }

    @include large {
      right: 30px;
    }

    @include medium {
      right: 16px;
    }

    @include small {
      margin: auto;
      position: relative;
      right: auto;
      top: auto;
    }
  }

  .services-wrapper {
    margin: 34px 10px;
    text-align: left;

    @include medium {
      margin: 34px 6px;
    }
  }

  .services-text {
    border-left: solid 2px $nile;
    height: 31.25vw;
  }

  .services-center {
    margin: 0 10px 0 30px;
    text-transform: uppercase;

    @include medium {
      margin: 0 15px;
    }
  }

  .services-list {
    margin: 0;
    padding: 0;
  }

  .services-item {
    color: $text-dark;
    font-family: $font-title;
    font-size: 2em;
    list-style: none;
    margin: 1.5vw 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .services-team {
    background: $smoke;
    height: 31.25vw;
    width: 57.657vw;
  }
}
